.about-bike-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #f0f9ff;
    border-radius: 16px;
    max-width: 100%;
    margin: 50px 0px;
}

.about-bike-text {
    max-width: 55%;
    margin-top: 0px;
    padding: 0px 30px;
}

.about-bike-title {
    font-size: 3rem;
    font-weight: 700;
    color: #000000;
    margin-bottom: 30px;
    /* margin-top: 55px; */
}

.about-bike-description {
    font-size: 1.2rem;
    color: #4b5563;
    line-height: 1.75;
}

.about-bike-image {
    max-width: 40%;
}

.about-bike-img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}
