/* Container Styling */
.container {
  max-width: 1200px;
  padding: 0px;
}

/* Common Colors */
.cycle-name,
.documents-title,
.location-title,
.owner-title,
.icon {
  color: #472cb2;
}

.description-title {
  color: #472cb2;
}

.document-badge {
  background-color: #472cb2;
  color: #ffffff;
}
