.rating-cycle-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}

.rating-summary {
  background-color: #f8f9fa;
  border: 1px dashed #ddd;
  padding: 20px 0px;
  border-radius: 8px;
  margin: 0px 0px;
}

.rating-score {
  font-size: 2.5rem;
  color: #ffa439;
  display: flex;
  align-items: center;
}

.rating-bar {
  margin-bottom: 8px;
}

.progress-bar {
  background-color: #292929;
}

.filter-buttons .filter-button {
  margin: 0 5px;
  border-radius: 20px;
}

.filter-section {
  padding-top: 0px;
}

.filter-card {
  width: 70%;
  padding: 20px;
  border: 1px solid #bbbbbb;
  border-radius: 8px;
}

.review-list {
  margin-top: 20px;
}

.review-item {
  padding: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.review-item-content {
  display: flex;
  text-align: start;
  align-items: flex-start;
  gap: 15px;
}

.review-info {
  width: 100%;
}

.review-user-info {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.review-user-info-left {
  text-align: start;
  margin-bottom: 16px;
}

.review-user-name {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  padding-bottom: 8px;
}

.review-stars-content {
  margin-right: 10px;
}

.review-stars-icon {
  margin-right: 4px;
  width: 18px;
  height: 16px;
}

.review-avatar {
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  width: 40px;
  height: 40px;
  margin: 0;
}

.review-avatar img {
  width: 100% !important;
  height: 100% !important;
  border-radius: 50% !important;
  object-fit: cover;
}

.review-user {
  font-size: 16px;
}

.review-stars {
  color: #ffa439;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.review-comment {
  font-size: 15px;
  font-weight: 600;
  color: #333;
  text-align: left;
  margin-bottom: 25px;
}
.review-date {
  font-size: 14px;
  font-weight: 400;
  color: rgb(85, 85, 85);
  display: inline-block;
}

.review-actions {
  display: flex;
  flex-direction: row;
  gap: 5px;
  min-width: 50px;
}

.btn-no-underline {
  text-decoration: none;
}

.review-actions .btn-link:hover {
  color: #ffa439;
}

.filter-star {
  font-size: 14px;
  margin-bottom: 8px;
}

.btn-reply {
  color: #fff;
  height: 40px;
  width: 100px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 30px;
  line-height: 40px;
  display: inline-block;
  background-color: var(--primary-color);
  text-align: center;
  cursor: pointer;
}
