:root {
  --primary-color: #472cb2;
  --secondary-color: #aaa;
  --text-color: #666;
  --star-color: #ffc107;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.rental-grid-container {
  padding: 20px 0px;
}

.text-center .rental-title {
  margin: 0;
}

a {
  text-decoration: none;
}

/* Card Styles */
.rental-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: #fff;
}

.rental-card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.rental-type-buttons .rental-type-button {
  border-radius: 20px;
  margin: 0 8px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.rental-type-buttons .rental-type-button.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.rental-type-buttons .rental-type-button.btn-outline-secondary {
  background-color: transparent;
  color: var(--primary-color);
}

.rental-type-buttons .rental-type-button:hover {
  background-color: rgba(71, 44, 66, 0.1);
  color: var(--primary-color);
}

.rental-image-wrapper {
  position: relative;
  height: 200px;
}

.rental-image {
  border-radius: 8px 8px 0 0;
  object-fit: cover;
  width: 100%;
  height: 200px;
}

/* Text and price formatting */
.rental-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: start;
}

.rental-price-section {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 6px;
}

.rental-current-price {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 16px;
}

.rental-original-price {
  text-decoration: line-through;
  color: var(--secondary-color);
  font-size: 14px;
  margin-left: 8px;
}

/* Location and icons */
.rental-location {
  font-size: 14px;
  color: var(--text-color);
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: inline-block;
}

.location-icon {
  margin-right: 5px;
  color: var(--primary-color);
}

/* Footer section */
.rental-footer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.rental-status {
  display: flex;
  align-items: center;
  gap: 5px;
}

.status-icon {
  color: var(--primary-color);
}

.distance-icon {
  margin-right: 5px;
  color: var(--primary-color);
}

.rental-rating {
  display: flex;
  align-items: center;
}

.rental-star {
  color: var(--star-color);
  font-size: 14px;
}

.rental-review-count {
  margin-left: 5px;
  font-size: 12px;
  color: var(--text-color);
}

/* Pagination buttons */
.rental-page-btn {
  margin: 0 10px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rental-prev-btn,
.rental-next-btn {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.rental-prev-btn:hover,
.rental-next-btn:hover {
  transform: scale(1.1);
}

.rental-prev-btn:active,
.rental-next-btn:active {
  transform: scale(0.95);
}

.rental-prev-btn:hover .rental-chevron-left,
.rental-next-btn:hover .rental-chevron-right {
  fill: #fff;
}

.rental-chevron-left,
.rental-chevron-right {
  fill: var(--primary-color);
  width: 9px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .rental-image {
    height: 150px;
  }
}