.service-container {
  display: flex;
  gap: 16px;
  margin-top: 32px;
}

.service-title {
  font-size: 28px;
  font-weight: 800;
}

.service-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.service-item-HaiPhong,
.service-item-DaNang {
  border-radius: 24px;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.service-item-HaNoi,
.service-item-SaiGon {
  border-radius: 24px;
  width: 100%;
  height: 192px;
  object-fit: cover;
}

.item-figure-HaiPhong,
.item-figure-HaNoi,
.item-figure-SaiGon,
.item-figure-DaNang {
  position: relative;
  margin: 0;
}

.city-name-HaiPhong,
.city-name-HaNoi,
.city-name-SaiGon,
.city-name-DaNang {
  position: absolute;
  bottom: 16px;
  left: 16px;
  color: #000;
  background-color: #fff;
  padding: 3px 14px;
  border-radius: 14px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
}

.item-group-HCMHaNoi {
  gap: 16px;
}
