.service-grid {
  margin-top: 3rem;
  padding: 0px;
}

.service-grid h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
}

.service-grid .card {
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
  height: 100%; /* Đảm bảo thẻ card có chiều cao đồng đều */
}



.service-grid .card-img-top {
  height: 300px;     
  width: 100%;        
  object-fit: cover;  
}

.service-grid .card-body {
  /* padding: 0.5rem; */
  height: 0.03rem;

}

.service-grid .card-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.1rem;
}

.service-grid .card-text {
  color: #6c757d;
  font-size: 0.9rem;
}

@media (max-width: 767.98px) {
  .service-grid .card {
    margin-bottom: 1.5rem;
  }
}
