.rental-signup-container {
  background-color: #030303d6;
  padding: 40px 20px;
  margin: 40px 0;
  border-radius: 16px;
}

.rental-content {
  max-width: 1200px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  
}

.rental-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #fff;
}

.rental-text p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
}

.btn-rentalSignup {
  display: flex;
  flex-direction: column;
  background-color: #472cb2;
  border-radius: 24px;
  white-space: nowrap;
  transition: background-color 0.3s;
}

.btn-rental-text {
  font-size: 16px;
  color: #fff;
}

.btn-rentalSignup:hover {
  background-color: #3a2391;
  color: #fff;
}

@media (max-width: 768px) {
  .rental-content {
    flex-direction: column;
    text-align: center;
  }

  .rental-title {
    font-size: 24px;
  }

  .rental-text p {
    font-size: 14px;
  }

  .btn-primary-custom {
    width: 100%;
    justify-content: center;
  }
}
